/* Layout & General Stuff */
div{
  display: flex;
  width: 100%;
}
#root{
  background: black;
  min-height: 100vh;
  justify-content: center;
  flex: 1;
}
@media only screen and (max-width: 768px) {
    #app-container {
        with: 100%;
    }
}
#app-container{
  width: 768px;
  flex-flow: column wrap;
}


/* Typography */
#root{
  font-family: 'Nunito', sans-serif;
  color: white;
}
.font-logo{
  font-size: 24px;
}
.font-heading{
  font-size: 18px;
}


/* Header */
#header{
  height: 48px;
  align-items: center;
}

/* Body/Layout/Common */

.list{
  flex-flow: column wrap;
}


/* Event */
.event{
  flex-flow: column wrap;
}
.event-img img{
  width: 100%;
  height: 100%;
}