/* Layout & General Stuff */
div{
  display: flex;
  width: 100%;
}
#root{
  background: black;
  min-height: 100vh;
  justify-content: center;
  flex: 1;
}
@media only screen and (max-width: 384px) {
    #app-container {
        with: 100%;
    }
}
#app-container{
  width: 384px;
  flex-flow: column wrap;
}


/* Typography */
#root{
  font-family: 'Nunito', sans-serif;
  color: white;
}
.font-x-large{
  font-size: 24px;
}
.font-heading{
  font-size: 18px;
}
.font-sub-heading{
  font-size: 14px;
  color: #C3C3C3;
}
.font-bold{
  font-weight: 600;
}


/* Header */
#header{
  height: 48px;
  align-items: center;
  border-bottom: 1px solid #353535;
}

/* Body/Layout/Common */
.list, .list-body{
  flex-flow: column wrap;
}
.list-header{
  margin: 12px 0px;
}


/* Event */
.event{
  flex-flow: column wrap;
  margin-bottom: 12px;
}
.event-img img{
  width: 100%;
  height: 100%;
}
.event-content{
  flex-flow: column wrap;
}